.container {
  margin-top: 20px;
  padding: 15px;
  background: #1e293b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* SEARCH INPUT */
.search {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #0f172a;
  color: white;
}

/* FILTER BUTTONS */
.filters {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.filters button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: #0f172a;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.filters button:hover {
  background: #334155;
}

/* ACTIVE BUTTON */
.active {
  background: #22c55e !important;
  color: white;
}

/* SORT */
.sort {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #0f172a;
  color: white;
}

.deletebtn{
  font-size: 1.5rem;
  background-color: red;
}