.signup_container{
    height: 90vh;
    width: 35vw;
    margin:auto;
    margin-top: 1.5rem;
    border: 1px solid white;
    border-radius: 2rem;
    background: rgba(138, 97, 97, 0.15);
}

.signup_heading{
    font-size: 2rem;
    margin-top: 0;
    margin-left: 12rem;
    margin-bottom: 2rem;
    padding: 1.1rem 0;
}



.emailbox{
    color: white;
    margin-top: 0;
    margin-left: 2rem;
    padding: 0.4rem;
    font-size: 1.3rem;
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.passwordbox{
    color: white;
    margin-top: 4rem;
    margin-left: 2rem;
    padding: 0.4rem;
    font-size: 1.3rem;
    width: 80%;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
}

.passwordbox::placeholder,
.emailbox::placeholder{
    color: white;
}


.signupbtn{
    font-size: 2rem;
    margin-left: 9.6rem;
    margin-bottom: 0;
    padding: 0.4rem 2rem;
    border-radius: 1.5rem;
    border: none;
    cursor: pointer;
    background: rgba(255,255,255,0.15);
}

.info_div{
    margin-top: 1.1rem;
    margin-left: 12.5rem;
}

.loginbtn{
    font-size: 1.7rem;
    margin-left: 0.4rem;
    border: none;
    background: transparent;
    cursor: pointer;
}


.errormsg_div{
    height: 0.4rem;
    width: 80%;
    color: red;
    margin: 0.7rem 0 0 2rem;
}


.signup_msg{
    width: 20vw;
    font-size: 1.3rem;
    height: 2rem;
    margin: 4rem 0 2rem 7rem;
    padding: 0.4rem;
}
